
body {
    font-family: 'Arial', sans-serif; 
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
}


h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

fieldset {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;

    
}

legend {
    padding: 0 5px;
    color: #333;
}

button {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #e53e3e; 
}


select {
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.top-logo {
    position: absolute;  
    top: 10px;           
    left: 10px;          
    z-index: 1000;      
}

.top-logo img {
    width: 50px;  
    height: auto;
}
